<%- include('common/header',{titulo:titulo,
esAdministrador:esAdministrador,esUsuario:esUsuario,logedin:logedin,nombreUsuario:nombreUsuario})
%>

<div class="container">
  <form action="/evento/inicio" method="GET">
    <div class="form-group p-3">
      <label for="busqueda">Busqueda</label>
      <div class="input-group mb-3">
        <input id="busqueda" type="text" class="form-control" name="busqueda" />
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% arreglo.forEach((evento)=>{ %>
      <tr>
        <td><%= evento.nombre %></td>
        <td><%= evento.fecha %></td>
        <td>
          <a
            href="/evento/ver/<%= evento.id %>"
            class="btn btn-outline-info btn-block mb-2"
          >
            Ver
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('common/libraries')%>
