<%- include('common/header',{titulo:titulo,
esAdministrador:esAdministrador,esUsuario:esUsuario,logedin:logedin,nombreUsuario:nombreUsuario})
%>

<div class="container">
  <form action="/jugador/inicio" method="GET">
    <div class="form-group p-3">
      <label for="busqueda">Busqueda</label>
      <div class="input-group mb-3">
        <input id="busqueda" type="text" class="form-control" name="busqueda" />
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No. Camiseta</th>
        <th scope="col">Nombre Jugador</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Goles</th>
        <th scope="col">Equipo Futbol</th>
      </tr>
    </thead>
    <tbody>
      <% arreglo.forEach((jugador)=>{ %>
      <tr>
        <td><%= jugador.numero_camiseta %></td>
        <td><%= jugador.nombre_completo_jugador %></td>
        <td><%= jugador.fecha_ingreso_equipo %></td>
        <td><%= jugador.goles %></td>
        <td><%= jugador.equipo.nombre %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('common/libraries')%>
